@import url(http://fonts.googleapis.com/css?family=Clicker+Script&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
/* MeyerWeb Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* Base text styles */
body {
  padding: 10px 50px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #232323;
  background-color: #FBFAF7;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  color: #232323;
  margin: 36px 0 10px; }

p, ul, ol, table, dl {
  margin: 0 0 22px; }

h1, h2, h3 {
  font-family: Arvo, Monaco, serif;
  line-height: 1.3;
  font-weight: normal; }

h1, h2, h3 {
  display: block;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4, h5, h6 {
  font-family: Arvo, Monaco, serif;
  font-weight: 700; }

a {
  color: #C30000;
  font-weight: 200;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a small {
  font-size: 12px; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

ul li {
  list-style: inside;
  padding-left: 25px; }

ol li {
  list-style: decimal inside;
  padding-left: 20px; }

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic; }

dl, dt, dd, dl p {
  font-color: #444; }

dl dt {
  font-weight: bold; }

dl dd {
  padding-left: 20px;
  font-style: italic; }

dl p {
  padding-left: 20px;
  font-style: italic; }

hr {
  border: 0;
  background: #ccc;
  height: 1px;
  margin: 0 0 24px; }

/* Images */
img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 32px 0;
  border: 1px solid #cccccc; }

section img {
  border: none; }

/* Code blocks */
code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000;
  font-size: 14px; }

pre {
  padding: 4px 12px;
  background: #FDFEFB;
  border-radius: 4px;
  border: 1px solid #d7d8c8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px; }

/* Tables */
table {
  width: 100%; }

table {
  border: 1px solid #cccccc;
  margin-bottom: 32px;
  text-align: left; }

th {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB; }

td {
  padding: 10px;
  background: #ccc; }

/* Wrapper */
.wrapper {
  width: 960px; }

/* Header */
header {
  background-color: #171717;
  color: #FDFDFB;
  width: 170px;
  float: left;
  position: fixed;
  border: 1px solid black;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 34px 25px 22px 50px;
  margin: 30px 25px 0 0;
  -webkit-font-smoothing: antialiased; }

p.header {
  font-size: 16px; }

h1.header {
  font-family: Arvo, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3em;
  border-bottom: none;
  margin-top: 0; }

h1.header, a.header, a.name, header a {
  color: #fff; }

a.header {
  text-decoration: underline; }

a.name {
  white-space: nowrap; }

header ul {
  list-style: none;
  padding: 0; }

header li {
  list-style-type: none;
  width: 132px;
  height: 15px;
  margin-bottom: 12px;
  line-height: 1em;
  padding: 6px 6px 6px 7px;
  background: #AF0011;
  background: -moz-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -o-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -ms-linear-gradient(top, #af0011 0%, #820011 100%);
  background: linear-gradient(top, #af0011 0%, #820011 100%);
  border-radius: 4px;
  border: 1px solid #0d0d0d;
  -webkit-box-shadow: inset 0px 1px 1px 0 #e90226;
  box-shadow: inset 0px 1px 1px 0 #e90226; }

header li:hover {
  background: #C3001D;
  background: -moz-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -o-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -ms-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: linear-gradient(top, #c3001d 0%, #950119 100%); }

a.buttons {
  -webkit-font-smoothing: antialiased;
  background: url(../images/arrow-down.png) no-repeat;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px; }

a.buttons:hover {
  color: #fff;
  text-decoration: none; }

/* Section - for main page content */
section {
  width: 650px;
  float: right;
  padding-bottom: 50px; }

/* Footer */
footer {
  width: 170px;
  float: left;
  position: fixed;
  bottom: 10px;
  padding-left: 50px; }

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0; }

  header, section, footer {
    float: none;
    position: static;
    width: auto; }

  footer {
    border-top: 1px solid #cccccc;
    margin: 0 84px 0 50px;
    padding: 0; }

  header {
    padding-right: 320px; }

  section {
    padding: 20px 50px;
    margin: 0 0 20px; }

  header a small {
    display: inline; }

  header ul {
    position: absolute;
    right: 130px;
    top: 84px; } }
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word; }

  header {
    padding: 10px 20px 0;
    margin-right: 0; }

  section {
    padding: 10px;
    margin: 0 0 30px; }

  footer {
    margin: 0 0 0 30px; }

  header ul, header p.view {
    position: static; } }
@media print, screen and (max-width: 480px) {
  header ul li.download {
    display: none; }

  footer {
    margin: 0 0 0 20px; }

  footer a {
    display: block; } }
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444; } }
.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.type-csharp .highlight .k {
  color: blue; }

.type-csharp .highlight .kt {
  color: blue; }

.type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal; }

.type-csharp .highlight .nc {
  color: #2b91af; }

.type-csharp .highlight .nn {
  color: black; }

.type-csharp .highlight .s {
  color: #a31515; }

.type-csharp .highlight .sc {
  color: #a31515; }

@font-face {
  font-family: 'heydings';
  src: url(../fonts/heydings/heydings_icons-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/heydings/heydings_icons-webfont.woff) format("woff"), url(../fonts/heydings/heydings_icons-webfont.ttf) format("truetype"), url(../fonts/heydings/heydings_icons-webfont.svg#heydings_iconsregular) format("svg");
  font-weight: normal;
  font-style: normal; }

#ticket {
  width: 60%;
  min-width: 310px;
  background-color: #eee;
  background: url(../images/clover-field-blured.jpg);
  background-position: center;
  text-align: center;
  border: 5px solid #44cc33;
  margin-top: 2em;
  padding: 20px; }
  #ticket div#clover {
    width: 290px;
    height: 290px;
    margin: auto;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    font-family: "heydings" !important; }
    #ticket div#clover .cloverleaf {
      background: green;
      width: 65px;
      height: 80px;
      padding: 70px 40px 0;
      line-height: 3em; }
      #ticket div#clover .cloverleaf p.covered {
        background-color: #262626; }
      #ticket div#clover .cloverleaf p.scratched {
        background-color: #aaa; }
    #ticket div#clover #leaf-0, #ticket div#clover #leaf-2 {
      float: left; }
    #ticket div#clover #leaf-1, #ticket div#clover #leaf-3 {
      float: right; }
    #ticket div#clover #leaf-0 {
      border-radius: 50px 75px 0px 75px; }
    #ticket div#clover #leaf-1 {
      border-radius: 75px 50px 75px 0px; }
    #ticket div#clover #leaf-2 {
      border-radius: 75px 0px 75px 50px; }
    #ticket div#clover #leaf-3 {
      border-radius: 0px 75px 50px 75px; }

.button, .button:visited {
  background: #222222 url(../images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: compact(0 0 5px 3px rgba(0, 0, 0, 0.65), false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(0 0 5px 3px rgba(0, 0, 0, 0.65), false, false, false, false, false, false, false, false);
  box-shadow: compact(0 0 5px 3px rgba(0, 0, 0, 0.65), false, false, false, false, false, false, false, false);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }

.small.button, .small.button:visited {
  font-size: 11px; }

.button, .button:visited,
.medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large.button, .large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.super.button, .super.button:visited {
  font-size: 34px;
  padding: 8px 14px 9px; }

.pink.button, .magenta.button:visited {
  background-color: #e22092; }

/*.pink.button:hover                  { background-color: #c81e82; }*/
.green.button, .green.button:visited {
  background-color: #91bd09; }

.green.button:hover {
  background-color: #749a02; }

.red.button, .red.button:visited {
  background-color: #e62727; }

.red.button:hover {
  background-color: #cf2525; }

.orange.button, .orange.button:visited {
  background-color: #ff5c00; }

.orange.button:hover {
  background-color: #d45500; }

.blue.button, .blue.button:visited {
  background-color: #2981e4; }

.blue.button:hover {
  background-color: #2575cf; }

.yellow.button, .yellow.button:visited {
  background-color: #ffb515; }

.yellow.button:hover {
  background-color: #fc9200; }

#calendar {
  border: none;
  background-color: #666666;
  width: 90%;
  max-width: 400px;
  min-width: 250px; }
  #calendar #leaf_block {
    width: 85%;
    margin: 5% auto;
    padding: 25px 10px 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #dddddd;
    -webkit-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -ms-border-top-left-radius: 20px;
    -o-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -ms-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -ms-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -ms-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -ms-border-top-left-radius: 20px;
    -o-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -ms-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -ms-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -ms-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px; }
    #calendar #leaf_block .month {
      font-size: 2em; }
    #calendar #leaf_block .week_day {
      font-size: 2em; }
    #calendar #leaf_block .day_num {
      line-height: 1.1;
      font-size: 12em;
      font-weight: bold;
      color: #bb0000; }
    #calendar #leaf_block #note {
      min-height: 2.2em;
      padding: 10px 0 0 8px;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg);
      text-transform: none;
      text-align: left;
      font-family: "Clicker Script", cursive;
      color: blue;
      font-size: 4em;
      line-height: 1.1em; }
