$CAL_BG: #ddd;
$CAL_COL: #b00;
$BOX_RAD: 20px;
$CAL_BOX_COL: #666;
@import url(http://fonts.googleapis.com/css?family=Clicker+Script&subset=latin,latin-ext);
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

#calendar{
  border: none;
  @include background-opacity($CAL_BOX_COL, 0.7);
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  #leaf_block{
    width: 85%;
    margin: 5% auto;
    padding: 25px 10px 20px;
    text-align: center;
    text-transform:uppercase;
    @include background-opacity($CAL_BG, 0.7);
    @include border-top-radius($BOX_RAD);
    @include border-bottom-radius($BOX_RAD);
    @include border-left-radius($BOX_RAD);
    @include border-right-radius($BOX_RAD);
      .month {
        font-size:2em;
      }
      .week_day {
        font-size:2em;
      }
      .day_num {
        line-height: 1.1;
        font-size:12em;
        font-weight: bold;
        color: $CAL_COL;
      }
      .details {
      }
      #note {
        min-height: 2.2em;
        padding: 10px 0 0 8px;
        @include transform(rotate(-5deg));
        text-transform: none;
        text-align: left;
        font-family: 'Clicker Script', cursive;
        color: blue;
        font-size: 4em;
        line-height: 1.1em;
      }
  }
}
