$CAL_BG: #ddd;
$CAL_COL: #b00;
$BOX_RAD: 20px;
$CAL_BOX_COL: #666;
@import url(http://fonts.googleapis.com/css?family=Clicker+Script&subset=latin,latin-ext);

#calendar{
  border: none;
  background-color: $CAL_BOX_COL;
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  #leaf_block{
    width: 85%;
    margin: 5% auto;
    padding: 25px 10px 20px;
    text-align: center;
    text-transform:uppercase;
    background-color: $CAL_BG;
    @include border-top-radius($BOX_RAD);
    @include border-bottom-radius($BOX_RAD);
    @include border-left-radius($BOX_RAD);
    @include border-right-radius($BOX_RAD);
      .month {
        font-size:2em;
      }
      .week_day {
        font-size:2em;
      }
      .day_num {
        line-height: 1.1;
        font-size:12em;
        font-weight: bold;
        color: $CAL_COL;
      }
      .details {
      }
      .note {
        padding: 10px 0;
        @include transform(rotate(-5deg));
        text-transform: none;
        font-family: 'Clicker Script', cursive;
        color: blue;
        font-size: 4em;
        line-height: 1.1em;
      }
  }
}
