$CLOVER_SIZE: 290px;
$CLOVER_COL: green;
$RAD1: 50px;
$RAD2: 75px;
$RAD3: 0px;

#ticket {
  width: 60%;
  min-width: 295px;
  background-color: #eee;
  background: url(../images/clover-field-blured.jpg);
  background-position: center;
  text-align: center;
  border: 5px solid #4c3;
  margin-top: 2em;
  div#clover {
    width: $CLOVER_SIZE;
    height: $CLOVER_SIZE;
    margin: auto;
    border: solid 3px red;
    @include transform(rotate(7deg));
    .cloverleaf{
      background: $CLOVER_COL;
      width: 50%;
      height: 80px;
      padding-top: 70px;
    }
    #leaf-0, #leaf-2{
      float: left;
    }
    #leaf-1, #leaf-3{
      float: right;
    }
    #leaf-0 {
      border-radius: $RAD1 $RAD2 $RAD3 $RAD2;
    }
    #leaf-1 {
      border-radius: $RAD2 $RAD1 $RAD2 $RAD3;
    }
    #leaf-2 {
      border-radius: $RAD2 $RAD3 $RAD2 $RAD1;
    }
    #leaf-3 {
      border-radius: $RAD3 $RAD2 $RAD1 $RAD2;
    }
  }
}

.button, .button:visited {
  background: #222 url(../images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  @include border-radius(6px);
  @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}

.small.button, .small.button:visited { font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited { 
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.large.button, .large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

.super.button, .super.button:visited {
  font-size: 34px;
  padding: 8px 14px 9px;
}

.pink.button, .magenta.button:visited   { background-color: #e22092; }
/*.pink.button:hover                  { background-color: #c81e82; }*/
.green.button, .green.button:visited    { background-color: #91bd09; }
.green.button:hover                     { background-color: #749a02; }
.red.button, .red.button:visited        { background-color: #e62727; }
.red.button:hover                   { background-color: #cf2525; }
.orange.button, .orange.button:visited  { background-color: #ff5c00; }
.orange.button:hover                { background-color: #d45500; }
.blue.button, .blue.button:visited              { background-color: #2981e4; }
.blue.button:hover                  { background-color: #2575cf; }
.yellow.button, .yellow.button:visited  { background-color: #ffb515; }
.yellow.button:hover                { background-color: #fc9200; }
